@import url("https://fonts.googleapis.com/css?family=Saira:200,300,400,500,600,700,900&display=swap");
body {
  min-height: 100vh;
  background: black;
  color: #fff;
  font-family: "Saira", sans-serif;
  font-weight: 300;
  font-size: 18px; }
  body a {
    text-decoration: none;
    color: #4dd599;
    font-size: 16px; }
    body a:hover, body a:active {
      color: #249865;
      transition: all 0.3s ease-in-out; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

button {
  background-color: transparent;
  border: none; }
  button span {
    font-size: 18px; }

.container {
  margin: 150px 350px 400px 350px;
  min-height: 47vh; }
  .container .card {
    position: relative;
    margin-top: 0px;
    margin-bottom: 60px; }
    .container .card .face {
      position: relative;
      width: 100%;
      height: 120px;
      transition: 0.5s;
      border-radius: 12px 12px 0 0; }
      .container .card .face.face1 {
        position: relative;
        background-image: linear-gradient(to left bottom, #4dd599, #00918e);
        display: flex;
        align-items: center;
        justify-content: center; }
      .container .card .face.blue {
        background-image: linear-gradient(to left bottom, #00918e, #113a5d); }
    .container .card .face.face1 .content {
      opacity: 0.8;
      transition: 0.5s; }
    .container .card .face.face1 .content img {
      max-width: 60px; }
    .container .card .face.face1 .content h3 {
      margin: 10px 0 0;
      padding: 0;
      color: #fff;
      text-align: center;
      font-size: 1.5em; }
    .container .card .face.face2 {
      padding: 70px 30px;
      position: relative;
      background: #12171b;
      height: 100%;
      display: flex;
      align-items: center;
      vertical-align: center;
      justify-content: center;
      box-sizing: border-box;
      border-radius: 0 0 12px 12px; }
  .container .pending-bills .bill-name {
    margin: 20px 0 20px 0;
    font-size: 20px;
    font-weight: 300; }
  .container .pending-bills i,
  .container .pending-bills a {
    margin-left: 10px;
    color: #fafafa;
    float: right;
    text-decoration: none;
    vertical-align: center;
    transition-duration: 0.5s; }
    .container .pending-bills i:hover,
    .container .pending-bills a:hover {
      color: #4dd599; }
  .container .pending-bills .progress {
    padding: 6px;
    margin-bottom: 40px;
    border-radius: 30px;
    background: #12171b;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08); }
  .container .pending-bills .progress-bar {
    height: 18px;
    border-radius: 30px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    transition: 0.3s linear;
    transition-property: width, background-color; }
  .container .pending-bills .progress-moved .progress-bar {
    width: 80%;
    background-color: #4dd599;
    padding-bottom: 10px; }
    .container .pending-bills .progress-moved .progress-bar .progress-percentage {
      float: right;
      padding-right: 10px;
      font-size: 13px;
      color: #12171b;
      font-weight: 700; }
@keyframes progressAnimation {
  0% {
    width: 0%;
    background-color: #00918e; }
  100% {
    width: 80%;
    background-color: #4dd599; } }
  .container .index-info {
    font-size: 30px; }
    .container .index-info .info {
      font-size: 70px; }

header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px; }

.logo {
  font-size: 34px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  color: white; }

.underline-menu {
  display: flex;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  list-style-type: none; }
  .underline-menu:hover li:not(:hover) a {
    opacity: 0.2; }
  .underline-menu li {
    position: relative; }
    .underline-menu li::after {
      position: absolute;
      content: "";
      top: 100%;
      left: 0;
      width: 100%;
      height: 2px;
      background: #4dd599;
      transform: scaleX(0);
      transition: 0.3s cubic-bezier(0.165, 0.84, 0.34, 1); }
    .underline-menu li:hover::after, .underline-menu li.active::after {
      transform: scaleX(1); }
    .underline-menu li a {
      position: relative;
      display: flex;
      padding: 30px 25px 30px 25px;
      font-size: 18px;
      text-decoration: none;
      color: white;
      transition: 0.3s cubic-bezier(0.165, 0.84, 0.34, 1); }

.landing-title {
  margin: 0 150px 0 200px; }

/* form starting stylings */
.group,
.group-light {
  position: relative;
  margin: 0 100px 45px 200px; }
  .group.account-group,
  .group-light.account-group {
    margin: 0 550px 45px 0; }

.first-group {
  margin-top: 60px; }
  .first-group.account-group {
    margin-top: 100px; }

.group-light input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 400px;
  border: none;
  color: #333333;
  background-color: transparent;
  border-bottom: 1px solid #333333; }
.group-light label {
  color: #333333;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all; }

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 400px;
  border: none;
  color: #fff;
  background-color: transparent;
  border-bottom: 1px solid #fafafa; }

input:focus {
  outline: none; }

#add-member-input i {
  transition: 0.3s ease; }
  #add-member-input i:hover {
    color: #4dd599; }

/* LABEL ======================================= */
label {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all; }

/* active state */
input:valid ~ label,
input:focus ~ label {
  top: -20px;
  font-size: 14px;
  color: #4dd599; }

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 400px; }

.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #4dd599;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all; }

.bar:before {
  left: 50%; }

.bar:after {
  right: 50%; }

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%; }

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5; }

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #4dd599; }
  to {
    width: 0;
    background: transparent; } }
@-moz-keyframes inputHighlighter {
  from {
    background: #4dd599; }
  to {
    width: 0;
    background: transparent; } }
@keyframes inputHighlighter {
  from {
    background: #4dd599; }
  to {
    width: 0;
    background: transparent; } }
.button {
  background: transparent;
  border: none;
  font-size: 18px;
  margin: 0px 60px 50px 130px;
  font-family: "Saira", sans-serif;
  position: relative;
  display: inline-block;
  color: #4dd599;
  border-bottom: 1px solid #4dd599;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out; }
  .button:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 1px;
    background: #4dd599;
    transform: translateY(100%);
    transition: transform 0.2s ease-in-out;
    transition-delay: 0.6s; }
  .button > span {
    position: relative;
    display: block;
    padding: 20px 25px;
    color: inherit;
    font-size: 18px; }
    .button > span:before, .button > span:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      background: #4dd599;
      transition: transform 0.2s ease-in-out; }
    .button > span:before {
      height: 1px;
      width: 100%;
      transform: translateX(100%);
      transition-delay: 0.4s; }
    .button > span:after {
      height: 100%;
      width: 1px;
      transform: translateY(-100%);
      transition-delay: 0.2s; }
  .button:hover:after, .button:hover > span:before, .button:hover > span:after {
    transform: translate(0, 0); }
  .button:hover:after {
    transition-delay: 0s; }
  .button:hover > span:before {
    transition-delay: 0.2s; }
  .button:hover > span:after {
    transition-delay: 0.4s; }
  .button:hover {
    color: black;
    background-color: #4dd599;
    transition-delay: 0.6s; }
  .button:hover, .button:focus {
    outline: none; }

.button-sm {
  background: transparent;
  text-align: center;
  position: relative;
  margin-left: 10px;
  border: 1px solid transparent;
  background-color: #2d3840;
  border-radius: 4px;
  padding: 4px 7px;
  font-family: "Saira", sans-serif;
  transition: 0.3s;
  font-size: 14px;
  color: #4dd599;
  outline: none;
  float: right; }
  .button-sm:hover, .button-sm:focus {
    color: #030404;
    background-color: #4dd599;
    transition: all 0.3s ease-in; }
  .button-sm.del {
    margin-top: 20px;
    margin-left: 0;
    color: #e74c3c;
    float: left; }
    .button-sm.del:hover, .button-sm.del:focus {
      color: #030404;
      background-color: #e74c3c; }
    .button-sm.del.del-right {
      margin-top: 0;
      float: right; }

.modal-pay-btn,
.modal-confirm-btn {
  background: transparent;
  padding: 15px 30px;
  font-size: 18px;
  text-align: center;
  position: relative;
  margin: 30px 20px 0 0;
  border: 2px solid #4dd599;
  color: #4dd599;
  font-family: "Saira", sans-serif;
  transition: 0.3s; }
  .modal-pay-btn:hover, .modal-pay-btn:focus,
  .modal-confirm-btn:hover,
  .modal-confirm-btn:focus {
    box-shadow: inset 150px 0 0 0 #4dd599;
    color: #12171b; }

.selector {
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: #2d3840;
  min-width: 260px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(18, 23, 27, 0.1);
  box-sizing: border-box;
  padding: 16px 20px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  overflow: hidden;
  pointer-events: all;
  cursor: pointer; }
  .selector span {
    width: 100%; }
  .selector .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    list-style: none;
    width: 260px;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(18, 23, 27, 0.1);
    text-align: left;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    z-index: 1;
    pointer-events: all; }
    .selector .dropdown:before {
      content: "";
      position: absolute;
      top: -6px;
      left: 20px;
      width: 0;
      height: 0;
      box-shadow: 2px -2px 6px rgba(18, 23, 27, 0.05);
      border-top: 6px solid #fff;
      border-right: 6px solid #fff;
      border-bottom: 6px solid transparent;
      border-left: 6px solid transparent;
      transform: rotate(-45deg); }
    .selector .dropdown li {
      z-index: 1;
      position: relative;
      background: #fff;
      padding: 20px;
      color: #666; }
      .selector .dropdown li.active {
        color: #4dd599; }
      .selector .dropdown li:hover {
        color: #4dd599;
        transition: all 0.3s ease-out; }
      .selector .dropdown li:first-child {
        border-radius: 4px 4px 0 0; }
      .selector .dropdown li:last-child {
        border-radius: 0 0 4px 4px; }
    .selector .dropdown a {
      display: block;
      border-bottom: 1px solid rgba(18, 23, 27, 0.05);
      padding: 16px 0;
      color: inherit;
      font-size: 10px;
      text-decoration: none; }

table {
  width: 100%;
  table-layout: fixed; }
  table th {
    padding: 20px 15px;
    text-align: left;
    color: #fff;
    text-transform: uppercase; }
  table td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    color: #fff;
    border-bottom: solid 1px #2d3840; }

.tbl-header {
  background-color: #2d3840; }

.tbl-content {
  overflow-x: auto;
  margin-top: 0; }

.btn-draw {
  margin: 30px 60px 50px 0;
  font-family: "Saira", sans-serif;
  position: relative;
  display: inline-block;
  color: #4dd599;
  border-bottom: 2px solid #4dd599;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out; }
  .btn-draw:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 2px;
    background: #4dd599;
    transform: translateY(100%);
    transition: transform 0.2s ease-in-out;
    transition-delay: 0.6s; }
  .btn-draw > span {
    position: relative;
    display: block;
    padding: 30px 30px;
    color: inherit;
    font-size: 18px; }
    .btn-draw > span:before, .btn-draw > span:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      background: #4dd599;
      transition: transform 0.2s ease-in-out; }
    .btn-draw > span:before {
      height: 2px;
      width: 100%;
      transform: translateX(100%);
      transition-delay: 0.4s; }
    .btn-draw > span:after {
      height: 100%;
      width: 2px;
      transform: translateY(-100%);
      transition-delay: 0.2s; }
  .btn-draw:hover:after, .btn-draw:hover > span:before, .btn-draw:hover > span:after {
    transform: translate(0, 0); }
  .btn-draw:hover:after {
    transition-delay: 0s; }
  .btn-draw:hover > span:before {
    transition-delay: 0.2s; }
  .btn-draw:hover > span:after {
    transition-delay: 0.4s; }
  .btn-draw:hover {
    color: #fff;
    background-color: #4dd599;
    transition-delay: 0.6s; }

footer {
  padding: 1rem;
  /* width: 100%; */
  bottom: 0;
  background: none;
  text-align: center;
  margin: 0 40% 20px 40%; }

/* The Modal (background) */
.pay-modal,
.confirm-modal,
.delete-modal,
.group-delete-modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
  animation: fadeIn 0.3s;
  -webkit-animation: fadeIn 0.3s; }

/* Modal Content/Box */
.modal-content {
  background-color: #12171b;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  width: 700px;
  /* Could be more or less, depending on screen size */
  -webkit-animation: movedown 0.3s;
  animation: movedown 0.3s;
  border-radius: 10px; }
  .modal-content .modal-header {
    margin: 20px 20px 40px 0;
    font-size: 30px;
    font-weight: 700; }
  .modal-content .action {
    position: relative;
    margin-right: 0.625rem;
    margin-top: 20px;
    padding: 0.625rem 1.25rem;
    border: none;
    background-color: #4dd599;
    border-radius: 0.25rem;
    color: white;
    font-size: 0.87rem;
    overflow: hidden;
    z-index: 1;
    font-family: "Saira", sans-serif;
    outline: none; }
    .modal-content .action:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.2);
      transition: width 0.3s;
      z-index: 0; }
    .modal-content .action.red {
      background-color: #e74c3c; }
    .modal-content .action.green {
      background-color: #4dd599; }
    .modal-content .action.blue {
      background-color: #113a5d; }
    .modal-content .action:hover:before {
      width: 100%; }

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold; }
  .close:hover, .close:focus {
    color: #e74c3c;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease; }

@-webkit-keyframes movedown {
  from {
    transform: translateY(-300px); }
  to {
    transform: translateY(0); } }
@keyframes movedown {
  from {
    transform: translateY(-300px); }
  to {
    transform: translateY(0); } }
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.index-table th h1 {
  font-weight: bold;
  font-size: 1em;
  text-align: left;
  color: #fafafa; }

.index-table td {
  font-weight: normal;
  font-size: 1em;
  border: none;
  color: #aaa; }

.index-table {
  text-align: left;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  display: table;
  padding: 2em 0 8em 0;
  margin-top: 40px;
  border-spacing: 0; }

.index-table td,
.index-table th {
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left: 2%; }

/* Background-color of the odd rows */
.index-table tr:nth-child(odd) {
  background-color: #12171b; }

/* Background-color of the even rows */
.index-table tr:nth-child(even) {
  background-color: #1b1e24; }

.index-table th {
  background-color: #12171b; }

.index-table td:first-child {
  color: #fff; }

.index-table tr:hover {
  background-color: #4dd599;
  box-shadow: #2d3840 -1px 1px, #2d3840 -2px 2px, #2d3840 -3px 3px, #2d3840 -4px 4px, #2d3840 -5px 5px, #2d3840 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: linear; }

.index-table thead tr:hover {
  transform: none; }

.index-table tr:hover td {
  color: black;
  font-weight: bold; }

@media (max-width: 800px) {
  .index-table td:nth-child(4),
  .index-table th:nth-child(4) {
    display: none; } }
.md-checkbox {
  position: relative;
  margin: 1em 0;
  text-align: left; }
  .md-checkbox.md-checkbox-inline {
    display: inline-block; }
  .md-checkbox label[for="bill-self-paid"] {
    cursor: pointer;
    pointer-events: all;
    display: inline;
    line-height: 1.25em;
    vertical-align: top;
    clear: both;
    color: white;
    padding-left: 1px; }
    .md-checkbox label[for="bill-self-paid"]:not(:empty) {
      padding-left: 2em; }
    .md-checkbox label[for="bill-self-paid"]:before, .md-checkbox label[for="bill-self-paid"]:after {
      content: "";
      position: absolute;
      left: -5px;
      top: -1px; }
    .md-checkbox label[for="bill-self-paid"]:before {
      width: 1.25em;
      height: 1.25em;
      background: #2d3840;
      border-radius: 0.25em;
      cursor: pointer;
      transition: background .3s; }
  .md-checkbox input[type="checkbox"] {
    outline: 0;
    visibility: hidden;
    width: 1.25em;
    margin: 0;
    display: block;
    float: left;
    font-size: inherit; }
    .md-checkbox input[type="checkbox"]:checked + label:before {
      background: #4dd599;
      border: none;
      transition: all .2s; }
    .md-checkbox input[type="checkbox"]:checked + label:after {
      transform: translate(0.25em, 0.3365384615em) rotate(-45deg);
      width: 0.75em;
      height: 0.375em;
      border: 0.125em solid white;
      border-top-style: none;
      border-right-style: none; }
    .md-checkbox input[type="checkbox"]:disabled + label:before {
      border-color: #12171b; }
    .md-checkbox input[type="checkbox"]:disabled:checked + label:before {
      background: #12171b; }

/* The alert message box */
.alert {
  padding: 20px;
  background-color: #12171b;
  /* Red */
  color: #e74c3c;
  margin-bottom: 40px;
  border-radius: 12px; }
  .alert.info {
    color: #4dd599; }
    .alert.info .closebtn {
      color: #4dd599; }
      .alert.info .closebtn:hover {
        color: #249865; }
  .alert .closebtn {
    margin-left: 15px;
    color: #e74c3c;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s; }
    .alert .closebtn:hover {
      color: #a82315; }

/*# sourceMappingURL=main.css.map */
